body {
    font-family: 'sans-serif';
    font-size: 18px;
}

h1 {
    color: #5e2791;
}

h3 {
    font-size: 18px;
    color: rgb(22, 49, 139);
}

h4 {
    color: rgb(145, 15, 15);
}

p {
    color: rgb(85, 0, 128);
}

ul>li {
    text-decoration: underline;
}

ul li:nth-child(1) {
    background-color: #684198;
}

ul li:nth-child(2) {
    background-color: #7046a4;
}

ul li:nth-child(3) {
    background-color: #7b4eb3;
}

ul li:nth-child(4) {
    background-color: #8453c0;
}

ul li:nth-child(5) {
    background-color: #8f5bd0;
}